footer {
    background-color: #222222;
    color: #61DAFB;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: sans-serif;
    font-weight: 700;
}