footer {
    background-color: #027BDD;
    color: #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: sans-serif;
}